<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<script src='/javascripts/underscore-min.js' type='text/javascript'></script>


<p id="notice"><%= notice %></p>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<p>
  <strong>Latitude:</strong>
  <%= @area.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @area.longitude %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @area.radius %> (in miles)
</p>
<p>
<label for="search-basic">Search Input:</label>
<input type="search" name="search" id="search_hashtags" value="" />
<input type="button" value="filter hashtag" onclick="refreshPartial()">
</p>
<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
<br/>
<br/>
<br/>
<br/>
<br/>

<div id="tweets">
<%=render 'tweets/tweets', tweets: @tweets%>
</div>


<script>
$(document).ready(function () {
    // will call refreshPartial every 10 seconds
    setInterval(refreshPartial, 10000);
	
	
});

function refreshPartial() {
	hashtag = $("#search_hashtags").val();
	if(hashtag){	 
	  $.ajax({
   	   url: "/area/refresh_tweets/<%=@area.id%>.js?hashtag="+hashtag
	  })
  	}else{
  	  $.ajax({
     	   url: "/area/refresh_tweets/<%=@area.id%>.js"
  	  })
  	}
}

console.log("lat "+<%=@area.latitude%>)
handler = Gmaps.build('Google');
handler.buildMap({ provider: { maxZoom: 10 }, internal: {id: 'map'}}, function(){
 handler.map.centerOn({ lat: <%=@area.latitude%>, lng:<%=@area.longitude%> })
	
 markers = handler.addMarkers([
    {
      "lat": <%=@area.latitude%>,
      "lng": <%=@area.longitude%>
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});


</script>

